<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<%= link_to "New Event", new_event_path %>

<% @events.each do |event| %>
  <h3><%= link_to event.event_name, event %></h3>
  <p><%= event.event_location %></p>
  <p>Posted <%= time_ago_in_words(event.created_at) %> ago by <%= event.user.first_name %> <%= event.user.last_name %></p>
  <hr />
<% end %>
