<!DOCTYPE html>
<html>
<head>
  <title>AlumniApp</title>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&amp;libraries=places"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= form_tag search_users_path, method: :get do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag("Search") %>
<% end %>

<%= yield %>
  <hr>
  Current User ID: <%= session["user_id"].inspect %><br>
  <%= params.inspect %>
  <br>
  <% if current_user != nil %>
  Logged in as: <%= current_user.email %> |
  <!-- method delete overrides button's normal behavior of POST -->
    <%= link_to "Log Out", sessions_path, method: :delete %>
  <% else %>
    <%= link_to 'Sign In', new_sessions_path %>
  <% end %>
</body>
</html>
