<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<%= form_for @user, url:{ :controller => 'sessions', :action => "create"} do |f| %>
<%= f.text_field :email %><br>
<%= f.password_field :password %><br>
<%= f.submit "Log In", class: 'button' %><br><br>
<% end %>

<%= button_to('Sign Up', new_user_path, method: :get) %>