<h1>Jobs</h1>
<p><em>Find me in app/views/jobs/index.html.erb</em></p>

<%= link_to "New Job", new_job_path %>

<% @jobs.each do |job| %>
  <h3><%= link_to job.job_title, job %></h3>
  <p><%= job.company %>, <%= job.location %></p>
  <p>Posted <%= time_ago_in_words(job.created_at) %> ago by <%= job.user.first_name %> <%= job.user.last_name %></p>
  <hr />
<% end %>

<%= will_paginate @jobs %>
