<h1>The Latest</h1>
<p><em>Find me in app/views/pages/dashboard.html.erb</em></p>
<div class="row clearfix">
  <div class="column third">
    <h2>Posts</h2>
      <% @posts.each do |post| %>
        <h3><%= link_to post.title, post %></h3>
        <p>Posted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.first_name %> <%= post.user.last_name %></p>
        <p><%= post.comments.count %> replies</p>
        <hr />
      <% end %>
      <%= link_to "See more Posts", posts_path %>
  </div>

  <div class="column third">
    <h2>Jobs</h2>
      <% @jobs.each do |job| %>
        <h3><%= link_to job.job_title, job %></h3>
        <p><%= job.company %>, <%= job.location %></p>
        <p>Posted <%= time_ago_in_words(job.created_at) %> ago by <%= job.user.first_name %> <%= job.user.last_name %></p>
        <hr />
      <% end %>
      <%= link_to "See more Jobs", jobs_path %>
  </div>

  <div class="column third">
    <h2>Events</h2>
      <% @events.each do |event| %>
        <h3><%= link_to event.event_name, event %></h3>
        <p><%= event.event_location %></p>
        <p>Posted <%= time_ago_in_words(event.created_at) %> ago by <%= event.user.first_name %> <%= event.user.last_name %></p>
        <hr />
      <% end %>
      <%= link_to "See more Events", events_path %>
  </div>
</div>
